*,
*::before,*::after{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'merriweather sans',sans-serif;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    color:rgb(214, 240, 247);
    background-image:linear-gradient(90deg,rgba(139, 139, 224, 1) 0%, rgba(108, 108, 173, 1) 35%, rgba(131, 185, 201, 1) 100%);

}

h1{
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
}

.tab-container{
    width: 90%;
    max-width: 550px;
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 4rem;
    margin: 0 auto;

}

.tab{
    cursor: pointer;
    font-size: 0.875rem;
    letter-spacing: 175;
    padding: 5px 8px;

}

.tab.current-tab{
    background-color: rgba(102, 152, 196, 0.313);
    border-radius: 4px;

}

.weather-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 4rem;
}

.btn{
    all: unset;
    font-size: 0.85rem;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    background-color: rgb(95, 95, 243);
    cursor: pointer;
    padding:10px 30px;
}

.grant-location-container{
    
}